<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="arduinoFileName" value=""/>
    <add key="apxFileName" value=""/>
    <add key="excelFileName" value=""/>
    <add key="rmcComPort" value=""/>
    <add key="mtkComPort" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>